<h2>Bill: <%= @bill.name %></h2><br>
<ul>
<li>Remaining Balance: $<%= @bill.remaining_balance %></h4><br><br>
<li>Amount Due: $<%= @bill.amount_due %></h4><br><br>
<li>Due Date: <%= @bill.due_date %></h4><br><br><br>
</ul>

<form action="/bills/<%=@bill.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Bill">
</form><br>
<a href="/bills/<%= @bill.id %>/edit"><button>Edit This Bill</button></a>

<a href="/bills"><button>All Bills</button></a>