<h2>Bill: <%= @bill.name %></h2>
<strong> Category: <%= @bill.category %></strong><br><br><br>
<ul>
<li>Remaining Balance: $<%= @bill.remaining_balance %><br><br>
<li>Amount Due: <mark>$<%= @bill.amount_due %></mark><br><br>
<li>Due Date: <%= @bill.due_date.strftime("%A, %b. %-d, %Y") %><br><br>
<br><br><br>
</ul>

<form action="/bills/<%=@bill.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Bill">
</form><br>
<a href="/bills/<%= @bill.id %>/edit"><button>Edit This Bill</button></a>

<a href="/bills"><button>All Bills</button></a>